.certif{
    display: flex;
    position: relative;
}
.certif-box{
    width: 395px;

    h2{
        margin-bottom: 48px;
    }
    h6{
        color: #424551;
    }

}
.certif-logo {
    width: 395px;
    display: flex;
    justify-content: space-between;
}
.jacob{
    position: absolute;
    right: 0;
    width: 705px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px #1E212C0D, 0px 12px 10px -6px #9A9CA514, 0px 30px 24px -10px #9A9CA51A, 0px 80px 80px -20px #9A9CA529;
}
.certif-corse-jacob{
    position: relative;
}
.certif-course-container{
    justify-content: space-between;
    align-items: center;
}
.sect-certif{
    position: relative;
}
