.certif{
    display: flex;
}
.certif-box{
    width: 395px;

    h2{
        margin-bottom: 48px;
    }
    h6{
        color: #424551;
    }

}
.certif-logo {
    width: 395px;
    display: flex;
    justify-content: space-between;
}
.jacob{
    position: absolute;
    right: 0;
}
.sect-certif{
    position: relative;
}
