.title-cont{
    display: flex;
    justify-content: center;
    text-align: center;
}



.control-large label{
    padding: 0;
}
.control-large label:before{
    display: none;
}
.control-large .control-box{
    width: 50%;
}
.control-box{
    color: #9A9CA5;
    display: flex;
    border-radius: 4px;
    max-width: 307px;
    min-height: 46px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    justify-content: center;
}

.control-row{
    display: flex;
    flex-wrap: wrap;
}
.title-fild{
    width: 1230px;
    height: 46px;
    margin: 60px 0 60px 0;
}
label{
    cursor: pointer;
}
.control-box:hover{
    border: 1px solid  #9A9CA5;
}
.custom-input{
    display: none;
}
.control-box:has(input:checked) {
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
  }
  label[for="community"]:before {
    content: url(assets/img/Chat.png);
    padding-right: 8px;
    height: 23px;
}
.control-box.nast:before {
    content: url(assets/img/Chat.png); 
}
.title-slow{
    width: 495px;

    h3{

    font-size: 32px;
    font-weight: 900;
    line-height: 41.6px;
    text-transform: none;
    margin-bottom: 24px;
    }

    p{
    color: #424551;
    font-weight: 400;
    line-height: 25.6px;
    }
}
.title-box{
    display: flex;
    justify-content: space-between;
    width: 1230px;
    align-items: center;
}
.container, .title{
    margin-bottom: 120px;
}
