<section class="about2-section">
    <div class="container intro">
        <div class="intro-box">
            <h3>About us</h3>
            <h2>Createx Online School</h2>
            <h4>Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts.</h4>
            <p>We provide relevant approaches to online learning, internships and employment in the largest companies in the country. Our educational programs help you get a new specialty from scratch. During your studies, we will help you find a job. Check the courses and online events that we organise.</p>
            <button class="btn btn-about btn-intro-abot">Explore events</button>
            <button class="btn btn-orange">Browse courses</button>
        </div>
        <img src="assets/img/illustration-about2.svg" alt="">
    </div>
    
    <div class="container about-video-select">
        <div class="play-video  about-plat">
            <button class="hedsum"><img class="smalim" src="assets/img/about-playsmall.svg" alt=""> </button>
            <h6 class="yutub">Watch Video</h6> 
        </div>
        <div class="about-box-statistic">
            <img src="assets/img/about2-video.svg" alt="">
            <div class="about-korob">
                <ul class="about-korob-ulka">
                    <li><span>1200</span>students graduated</li>
                    <li><span>84</span>completed courses</li>
                    <li><span>16</span>qualified tutors</li>
                    <li><span>5</span>years of experience</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="about-backvalu">
        <div class="container ">
            <div class="template-title">
                <div class="templas templ-cours">
                    <h3>We always stand for</h3>
                    <h2>Our core values</h2>
                </div>
            </div>
            <div class="about-value-box">
                <div class="about-value-cont">
                    <img src="assets/img/ic-structure.svg" alt="">
                    <h3>Structured Approach</h3>
                    <h6>Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris. </h6>
                </div>
                <div class="about-value-cont">
                    <img src="assets/img/ic-chat.svg" alt="">
                    <h3>Professional Feedbacks</h3>
                    <h6>Culpa nostrud commodo ea consequat reprehenderit aliquip. </h6>
                </div>
                <div class="about-value-cont">
                    <img src="assets/img/ic-target.svg" alt="">
                    <h3>Efficiency</h3>
                    <h6>Viverra scelerisque consequat net. Adipisicing esse consequat. </h6>
                </div>
                <div class="about-value-cont">
                    <img src="assets/img/ic-calendar.svg" alt="">
                    <h3>Flexible Shedule</h3>
                    <h6>Aute eiusmod dolore dolore deserunt veniam ad deserunt. </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="container about2-value-conter">
        <div class="template-title">
            <div class="templas templ-cours">
                <h3>We always stand for</h3>
                <h2>Our core values</h2>
            </div>
        </div>
        <div class="blog-cont about-blog-cont">
            <div class="aboutes-card">
                <img src="assets/img/about-direction1.svg" alt=""> 
                <div class="about-card-mini">
                    <div class="advantage-text about-advantage-text">
                        <h4>Marketing</h4>
                    </div>   
                    <p>Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.</p>
                    <a href="#" class="about__item-button">Check courses <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
                    </div>
            </div>
        
            <div class="aboutes-card">
                <img src="assets/img/about-direction2.svg" alt="">
                <div class="about-card-mini">
                    <div class="advantage-text about-advantage-text">
                        <h4 class="advent-2">Management</h4>
                    </div> 
                <p>Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.</p>
                <a href="#" class="about__item-button">Check courses <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
                </div>    
            </div>
        
            <div class="aboutes-card">
                <img src="assets/img/about-direction3.svg" alt="">   
                <div class="about-card-mini">
                    <div class="advantage-text about-advantage-text">
                        <h4 class="advent-3">HR & Recruting</h4>
                    </div> 
                    <p>Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.</p>
                    <a href="#" class="about__item-button">Check courses <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
                    </div>
            </div>

            <div class="aboutes-card">
                <img src="assets/img/about-direction4.svg" alt="">   
                <div class="about-card-mini">
                    <div class="advantage-text about-advantage-text">
                        <h4 class="advent-6">Design</h4>
                    </div> 
                    <p>Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.</p>
                    <a href="#" class="about__item-button">Check courses <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
                    </div>
            </div>

            <div class="aboutes-card">
                <img src="assets/img/about-direction5.svg" alt="">   
                <div class="about-card-mini">
                    <div class="advantage-text about-advantage-text">
                        <h4 class="advent-7">Development</h4>
                    </div> 
                    <p>Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.</p>
                    <a href="#" class="about__item-button">Check courses <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
                    </div>
            </div>

            <div class="aboutes-card aboutes-card-2">
                <h3>New studying program coming soon...</h3>
                
            </div>
    
        </div>
    </div>

    <div class="container about2-studyng">
        <h3>Studying process</h3>
        <h2>That’s how we do it</h2>
        <div class="about-studyning">
            <ul class="about-study-ulka">
                <li class="about-study-lika"><div class="about-lishka-mini">
                    <h6>STEP 1</h6>
                    <h4>Watching online video lectures</h4>
                    <p>Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
                </div></li>
                <li class="about-study-lika"><div class="about-lishka-mini">
                    <h6>STEP 2</h6>
                    <h4>Passing test</h4>
                    <p>Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. </p>
                </div></li>
                <li class="about-study-lika"><div class="about-lishka-mini">
                    <h6>STEP 3</h6>
                    <h4>Curator’s feedback</h4>
                    <p>Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. </p>
                </div></li>
                <li class="about-study-lika"><div class="about-lishka-mini">
                    <h6>STEP 4</h6>
                    <h4>Corrections if needed</h4>
                    <p>Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor.</p>
                </div></li>
            </ul>
            <img src="assets/img/about-step-study.svg" alt="">

        </div>

    </div>









    <div class="container about2-team">
        <div class="tem-min">
        <h3>Best tutors are all here</h3>
        <h2>Meet our team</h2>
        </div>  
        <div class="about2-team-boxes">
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/diane.png" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Dianne Russell</h5>
                    <h6>Founder and CEO</h6>
                </div>
            </div>
             
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/jarome.png" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Jerome Bell</h5>
                    <h6>Founder and Program Director</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/kristin.png" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Kristin Watson</h5>
                    <h6>Marketer, Curator of Marketing Course</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/marvin.png" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Marvin McKinney</h5>
                    <h6>PM, Curator of Management Course</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/about2-imgcard.svg" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Leslie Alexander Li</h5>
                    <h6>Curator of HR & Recruting Course</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/about2-imgcard2.svg" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Kathryn Murphy</h5>
                    <h6>Analyst and Marketing specialist</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/about2-imgcard3.svg" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Brooklyn Simmons</h5>
                    <h6>Curator of Development Course</h6>
                </div>
            </div>
        
            <div class="card about2-card">
                <div class="img-box">
                    <img class="img-fluid" src="assets/img/about2-imgcard4.svg" alt="">
                    <div class="icones">
                        <img class="ic" src="assets/img/Facebook.png" alt="">
                        <img class="ic" src="assets/img/Instagram.png" alt="">
                        <img class="ic" src="assets/img/Linked-In.png" alt="">
                    </div>
                </div>
                <div class="card-discription">
                    <h5>Cody Fisher</h5>
                    <h6>UX Designer, Curator of Design Course</h6>
                </div>
            </div>
        </div>              
    </div>   
</section>
