<section class="acsent advantages">
    <div class="container">
        <div class="template-title">
            <div class="templas">
                <h3>Ready to learn?</h3>
                <h2>Featured Courses</h2>
            </div>
            <button type="button" class="btn btn-about abit-2">View all courses</button>
        </div>
        <div class="advantages">
            <div class="advantage-wrapper">
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-1.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4>Marketing</h4>
                                <h3>The Ultimate Google Ads Training Course</h3>
                                <h5 class="advantage-title"><span class="advan">$100</span> by Jerome Bell</h5>
                            </div>                                                                                       
                    </div>
                </div>
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-2.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4 class="advent-2">Management</h4>
                                <h3>Prduct Management Fundamentals</h3>
                                <h5 class="advantage-title"><span class="advan">$480</span> by Marvin McKinney</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-3.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4 class="advent-3">HR & Recruting</h4>
                                <h3>HR  Management and Analytics</h3>
                                <h5 class="advantage-title"><span class="advan">$200</span> by Leslie Alexander Li</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-4.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4>Marketing</h4>
                                <h3>Brand Management & PR Communications</h3>
                                <h5 class="advantage-title"><span class="advan">$530</span> by Kristin Watson</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-5.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4 class="advent-2">Management</h4>
                                <h3>Business Development Management</h3>
                                <h5 class="advantage-title"><span class="advan">$400</span> by Dianne Russell</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide">
                    <div class="advantage">
                        <div class="advantage-img">
                            <img src="assets/img/speaker-6.png" alt="">
                        </div>
                            <div class="advantage-text">
                                <h4 class="advent-6">Design</h4>
                                <h3>Graphic Design Basic</h3>
                                <h5 class="advantage-title"><span class="advan">$500</span> by Guy Hawkins</h5>
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>