<section class="acsent advantages">
    <div class="container-cours">
        <div class="template-title">
            <div class="templas templ-cours">
                <h3>Ready to learn?</h3>
                <h2>Featured Courses</h2>
            </div>
        </div>
            <fieldset class="cours-fild">
                <div class="control-row-cours control-large-cours">
                    <label class="control-box box-curs">
                        <input id="tutors" class="custom-input" checked type="radio" name="document" value="tutors">
                        <label class="tut" for="tutors"> All <span class="tut-span">17</span></label>
                    </label>
                    <label class="control-box box-curs">   
                        <input id="support" class="custom-input"  type="radio" name="document" value="support">
                        <label class="tut" for="support">Marketing <span class="tut-span">4</span></label>
                    </label>
                    <label class="control-box box-curs">
                        <input id="library" class="custom-input" type="radio" name="document" value="library">
                        <label class="tut" for="library">Management <span class="tut-span">3</span></label>
                    </label>
                    <label class="control-box box-curs">
                        <input id="community" class="custom-input"  type="radio" name="document" value="community">
                        <label class="tut" for="community">HR & Recruting <span class="tut-span">5</span></label>
                    </label> 
                    <label class="control-box box-curs">
                        <input id="design" class="custom-input"  type="radio" name="document" value="design">
                        <label class="tut" for="design">Design <span class="tut-span">2</span></label>
                    </label> 
                    <label class="control-box box-curs">
                        <input id="development" class="custom-input"  type="radio" name="document" value="development">
                        <label class="tut" for="development">Development <span class="tut-span">3</span></label>
                    </label> 
                </div> 
                <div class="search-form">
                    <input class="search-form__text" type="text" placeholder="Search course...">
                    <button class="search-form__btn"><img class="search-form__image" src="assets/img/search.svg" alt=""></button>
                </div> 
            </fieldset>


        </div>
        <div class="advantages cors-advant">
            <div class="advantage-wrapper curs-wrapp">
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-1.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4>Marketing</h4>
                                <h3>The Ultimate Google Ads Training Course</h3>
                                <h5 class="advantage-title"><span class="advan">$100</span> by Jerome Bell</h5>
                            </div>                                                                                       
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-2.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-2">Management</h4>
                                <h3>Prduct Management Fundamentals</h3>
                                <h5 class="advantage-title"><span class="advan">$480</span> by Marvin McKinney</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-3.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-3">HR & Recruting</h4>
                                <h3>HR  Management and Analytics</h3>
                                <h5 class="advantage-title"><span class="advan">$200</span> by Leslie Alexander Li</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-4.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4>Marketing</h4>
                                <h3>Brand Management & PR Communications</h3>
                                <h5 class="advantage-title"><span class="advan">$530</span> by Kristin Watson</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-5.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-2">Management</h4>
                                <h3>Business Development Management</h3>
                                <h5 class="advantage-title"><span class="advan">$400</span> by Dianne Russell</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-6.svg" alt="">
                        </div>
                            <div class="advantage-text curstext custe-6">
                                <h4 class="advent-6">Design</h4>
                                <h3>Graphic Design Basic</h3>
                                <h5 class="advantage-title"><span class="advan">$500</span> by Guy Hawkins</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-7.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-7">Development</h4>
                                <h3>Highload Software Architecture</h3>
                                <h5 class="advantage-title"><span class="advan">$600</span> by Brooklyn Simmons</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-8.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-3">HR & Recruting</h4>
                                <h3>Human Resources – Selection and Recruitment</h3>
                                <h5 class="advantage-title"><span class="advan">$150</span> by Kathryn Murphy</h5>
                            </div> 
                    </div>
                </div>
                <div class="advantage-slide curs-advantbob">
                    <div class="advantage curs-advantbi">
                        <div class="advantage-img">
                            <img class="imgcurs" src="assets/img/curs-speker-9.svg" alt="">
                        </div>
                            <div class="advantage-text curstext">
                                <h4 class="advent-6">Design</h4>
                                <h3>User Experience. Human-centered Design</h3>
                                <h5 class="advantage-title"><span class="advan">$240</span> by Cody Fisher</h5>
                            </div> 
                    </div>
                </div>

            </div>
            <div class="col text-center after-posts">
                <button type="button" class="btn btn-outline-light load-more">
                    <img class="conv-curs" src="assets/img/Convert.svg" alt="">Load more </button>
            </div>
        </div>
    </div>
</section>