<div class="container blog-2">
    <div class="template-title">
        <div class="templas templ-cours">
            <h3>Our blog</h3>
            <h2>Createx School Journal</h2>
        </div>
    </div>
    <fieldset class="cours-fild coursflid-blog2">
        <div class="control-row-cours control-large-cours bloges2-control">
            <label class="control-box box-curs blog2-curs">
                <input id="all" class="custom-input" checked type="radio" name="document" value="all">
                <label class="tut blog2-tut" for="all">  All </label>
            </label>
            <label class="control-box box-curs blog2-curs">   
                <input id="article" class="custom-input" type="radio" name="document" value="article">
                <label class="tut blog2-tut" for="article">
                    <svg class="imag-blog2 width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M5.3335 9.50065C5.3335 9.13246 5.63197 8.83398 6.00016 8.83398H10.0002C10.3684 8.83398 10.6668 9.13246 10.6668 9.50065C10.6668 9.86884 10.3684 10.1673 10.0002 10.1673H6.00016C5.63197 10.1673 5.3335 9.86884 5.3335 9.50065Z" fill="#424551"/>
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M5.3335 12.0007C5.3335 11.6325 5.63197 11.334 6.00016 11.334H8.00016C8.36835 11.334 8.66683 11.6325 8.66683 12.0007C8.66683 12.3688 8.36835 12.6673 8.00016 12.6673H6.00016C5.63197 12.6673 5.3335 12.3688 5.3335 12.0007Z" fill="#424551"/>
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M6.02877 1.52925C6.1538 1.40422 6.32337 1.33398 6.50018 1.33398H11.0002C12.4729 1.33398 13.6668 2.52789 13.6668 4.00065L13.6668 13.0007C13.6668 14.4734 12.4729 15.6673 11.0002 15.6673H5.00016C3.5274 15.6673 2.33349 14.4734 2.3335 13.0006L2.33351 5.50065C2.33351 5.32384 2.40375 5.15427 2.52877 5.02925L6.02877 1.52925ZM6.33349 3.11015V5.33398H4.10965L6.33349 3.11015ZM3.66684 6.66732L3.66683 13.0006C3.66683 13.737 4.26378 14.334 5.00016 14.334H11.0002C11.7366 14.334 12.3335 13.737 12.3335 13.0007L12.3335 4.00065C12.3335 3.26427 11.7366 2.66732 11.0002 2.66732H7.66682V6.00065C7.66682 6.36884 7.36835 6.66732 7.00016 6.66732H3.66684Z" fill="#424551"/>
                    </svg>Articles </label>
            </label>
            <label class="control-box box-curs blog2-curs">
                <input id="videos" class="custom-input"  type="radio" name="document" value="videos">
                <label class="tut blog2-tut" for="videos">
                    <svg class="imag-blog2 width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M10.7117 7.44002C11.4099 7.97368 11.4099 9.02507 10.7117 9.55873L7.65841 11.8924C6.78101 12.5629 5.51541 11.9373 5.51541 10.833V6.16575C5.51541 5.06144 6.78101 4.43581 7.65841 5.1064L10.7117 7.44002ZM9.90204 8.49938L6.84875 6.16575L6.84875 10.833L9.90204 8.49938Z" fill="#424551"/>
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M7.99984 2.49935C4.68613 2.49935 1.99984 5.18564 1.99984 8.49935C1.99984 11.8131 4.68613 14.4993 7.99984 14.4993C11.3135 14.4993 13.9998 11.8131 13.9998 8.49935C13.9998 5.18564 11.3135 2.49935 7.99984 2.49935ZM0.666504 8.49935C0.666504 4.44926 3.94975 1.16602 7.99984 1.16602C12.0499 1.16602 15.3332 4.44926 15.3332 8.49935C15.3332 12.5494 12.0499 15.8327 7.99984 15.8327C3.94975 15.8327 0.666504 12.5494 0.666504 8.49935Z" fill="#424551"/>
                    </svg>Videos </label>
            </label>
            <label class="control-box box-curs blog2-curs">
                <input id="podcast" class="custom-input"  type="radio" name="document" value="podcast">
                <label class="tut blog2-tut" for="podcast">
                    <svg class="imag-blog2 width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_37107_2137)">
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M4.13333 4.76706C4.13333 2.63156 5.8645 0.900391 8 0.900391C10.1355 0.900391 11.8667 2.63156 11.8667 4.76706V7.96706C11.8667 10.1026 10.1355 11.8337 8 11.8337C5.8645 11.8337 4.13333 10.1026 4.13333 7.96706V4.76706ZM8 2.23372C6.60088 2.23372 5.46667 3.36794 5.46667 4.76706V7.96706C5.46667 9.36618 6.60088 10.5004 8 10.5004C9.39912 10.5004 10.5333 9.36618 10.5333 7.96706V4.76706C10.5333 3.36794 9.39912 2.23372 8 2.23372Z" fill="#424551"/>
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M2.66667 6.23372C3.03486 6.23372 3.33333 6.5322 3.33333 6.90039V7.96706C3.33333 10.5444 5.42267 12.6337 8 12.6337C10.5773 12.6337 12.6667 10.5444 12.6667 7.96706V6.90039C12.6667 6.5322 12.9651 6.23372 13.3333 6.23372C13.7015 6.23372 14 6.5322 14 6.90039V7.96706C14 11.2808 11.3137 13.9671 8 13.9671C4.68629 13.9671 2 11.2808 2 7.96706V6.90039C2 6.5322 2.29848 6.23372 2.66667 6.23372Z" fill="#424551"/>
                    <path class="imag-blog2 fill-rule="evenodd" clip-rule="evenodd" d="M8 13.1671C8.36819 13.1671 8.66667 13.4655 8.66667 13.8337V14.7671H10.1333C10.5015 14.7671 10.8 15.0655 10.8 15.4337C10.8 15.8019 10.5015 16.1004 10.1333 16.1004H5.86667C5.49848 16.1004 5.2 15.8019 5.2 15.4337C5.2 15.0655 5.49848 14.7671 5.86667 14.7671H7.33333V13.8337C7.33333 13.4655 7.63181 13.1671 8 13.1671Z" fill="#424551"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_37107_2137">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                    </defs>
                    </svg>Podcasts </label>
            </label> 
        </div> 
        <div class="blog2-box-podn">
            <div class="events-grup blog2-even-grup">
                <label for="sel1">Blog category</label>
                <select class="form-select events-grop-form" aria-label="Default select example">
                    <option value="1">all themes</option>
                    <option value="2">all themes</option>
                    <option value="3">all themes</option>
                  </select>
            </div>
            <div class="search-form blog2-serch">
                <input class="search-form__text blog-serch-text" type="text" id="nameFilter" name="nameFilter" placeholder="Search blog...">
                <button class="search-form__btn"><img class="search-form__image" src="assets/img/search.svg" alt=""></button>
            </div>
        </div>      
    </fieldset>

    <div class="blog-cont blog2-cont">
        <div class="blog-card podcast">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/mic.svg" alt="">Podcast</h6>       
                <img src="assets/img/blog-img-1.png" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil">Marketing</ul>
                <ul class="bl-lil-2">September 4, 2020</ul>
                <ul class="bl-lil-3">36 min</ul>
            </li>
            <h5>What is traffic arbitrage and does it really make money?</h5>
            <p>Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...</p>
            <a href="#" class="blog__item-button">Listen <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card article">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Files.svg" alt="">Article</h6>       
                <img src="assets/img/comp-blog2.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">Development</ul>
                <ul class="bl-lil-2">September 1, 2020</ul>
            </li>
            <h5>How to choose the first programming language for a beginner</h5>
            <p>Turpis sed at magna laoreet gravida consequat tortor placerat. Gravida vitae aliquet enim egestas dui...</p>
            <a href="#" class="blog__item-button">Read <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card videos">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Play.svg" alt="">Video</h6>       
                <img src="assets/img/blog-img-3.png" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">Design</ul>
                <ul class="bl-lil-2">August 8, 2020</ul>
                <ul class="bl-lil-3">40 min</ul>
            </li>
            <h5>Should you choose a creative profession if you are attracted to creativity?</h5>
            <p>Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...</p>
            <a href="#" class="blog__item-button">Watch <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>
    
        <div class="blog-card blogcard-blog2 article">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Files.svg" alt="">Article</h6>       
                <img src="assets/img/blog2-kart.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">HR & Recruting</ul>
                <ul class="bl-lil-2">August 3, 2020</ul>
            </li>
            <h5>HR statistics: job search,  interviews, hiring and recruiting</h5>
            <p>Massa, lectus nibh consectetur aliquet nunc risus aenean. Leo hac netus bibendum diam adipiscing aenean nisl. Molestie nullam ante mattis ac sit vitae pellentesque mi etiam. Morbi commodo tempor, massa vivamus. A molestie id semper fermentum pretium...</p>
            <a href="#" class="blog__item-button">Read <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card blogcard-blog2-bol2 videos">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Play.svg" alt="">Video</h6>       
                <img src="assets/img/blog2-card2.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bib">Management</ul>
                <ul class="bl-lil-2 ">August 2, 2020</ul>
                <ul class="bl-lil-3 bib-2">45 min</ul>
            </li>
            <h5>What to do and who to talk to if you want to get feedback on the product</h5>
            <p>Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus. Curabitur nisl tincidunt eros venenatis...</p>
            <a href="#" class="blog__item-button">Watch <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card podcast">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/mic.svg" alt="">Podcast</h6>       
                <img src="assets/img/blog2-kard3.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil">Design</ul>
                <ul class="bl-lil-2">July 28, 2020</ul>
                <ul class="bl-lil-3">36 min</ul>
            </li>
            <h5>What are color profiles and how they work in graphic design</h5>
            <p>Aliquam vulputate hendrerit quam sollicitudin urna enim viverra gravida. Consectetur urna arcu eleifend...</p>
            <a href="#" class="blog__item-button">Listen <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card videos">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Play.svg" alt="">Video</h6>       
                <img src="assets/img/blog2-kard4.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">Management</ul>
                <ul class="bl-lil-2">July 15, 2020</ul>
                <ul class="bl-lil-3">45 min</ul>
            </li>
            <h5>Startup: how to build a team that will live longer than a year</h5>
            <p>Nisi, massa ut sit faucibus et diam. Faucibus at malesuada at justo scelerisque in nisi, urna...</p>
            <a href="#" class="blog__item-button">Watch <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

        <div class="blog-card article">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Files.svg" alt="">Article</h6>       
                <img src="assets/img/blog2-kard5.svg" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">Marketing</ul>
                <ul class="bl-lil-2">July 9, 2020</ul>
            </li>
            <h5>How to get customers to love your business from the start</h5>
            <p>Malesuada in augue mi feugiat morbi a aliquet enim. Elementum lacus, pellentesque etiam arcu tristique ac...</p>
            <a href="#" class="blog__item-button">Read <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>
    </div>
    <ul class="events-grup-pereklyk">
        <li id="myButton" class="perkly-lish"><a href="">1</a></li>
        <li id="myButton" class="perkly-lish"><a href="">2</a></li>
        <li id="myButton" class="perkly-lish"><a href="">3</a></li>
        <li id="myButton" class="perkly-lish"><a href="">4</a></li>
        <img class="perkly-lish" src="assets/img/Right.svg" alt="">
    </ul>

</div>

<div class="blog2-subscribe">
    <div class="container blog2-nisu">
        <img src="assets/img/illustration-blog2.svg" alt="">
        <div class="blog2-nisu-podni">
            <h2>Want to get the best articles weekly?
                Subscribe to our newsletter!</h2>
            <div class="subes-group blog2-subes-group">
                    <input type="email" class="email-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your working email">
                    <button type="button" class="btn btn-subs">Subscribe</button>
                </div>
            <div class="contact-chek-commincation blog2-comunicat-agree">
                    <input type="checkbox" class="chek-commun">
                    <label for="">I agree to receive communications from Createx Online School</label>
                </div>

        </div>

    </div>

</div>

