<div class="container blog">
    <div class="blog-title">
        <div class="bloges">
            <h3>Our blog</h3>
            <h2>Featured Courses</h2>
        </div>
        <a href="blog-item.html" class="btn btn-blog">Go to blog</a>
    </div>
    <div class="blog-cont">
        <div class="blog-card">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/mic.svg" alt="">Podcast</h6>       
                <img src="assets/img/blog-img-1.png" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil">Marketing</ul>
                <ul class="bl-lil-2">September 4, 2020</ul>
                <ul class="bl-lil-3">36 min</ul>
            </li>
            <h5>What is traffic arbitrage and does it really make money?</h5>
            <p>Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...</p>
            <a href="blog-item3.html" class="blog__item-button">Listen <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>
    
        <div class="blog-card">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Play.svg" alt="">Video</h6>       
                <img src="assets/img/blog-img-2.png" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bib">Management</ul>
                <ul class="bl-lil-2 ">August 25, 2020</ul>
                <ul class="bl-lil-3 bib-2">45 min</ul>
            </li>
            <h5>What to do and who to talk to if you want to get feedback on the product</h5>
            <p>Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus...</p>
            <a href="blog-item3.html" class="blog__item-button">Watch <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>
    
        <div class="blog-card">
            <div class="blog-box">
                <h5 class="blog-nat"><img class="bl-box" src="assets/img/Files.svg" alt="">Article</h6>       
                <img src="assets/img/blog-img-3.png" alt="">
            </div>  
            <li class="blog-lit">
                <ul class="bl-lil bob">Design</ul>
                <ul class="bl-lil-2">August 8, 2020</ul>
            </li>
            <h5>Should you choose a creative profession if you are attracted to creativity?</h5>
            <p>Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...</p>
            <a href="blog-item3.html" class="blog__item-button">Read <img class="blog-line" src="assets/img/Line-blog.svg" alt="arrow-right"></a>
        </div>

    </div>
    

</div>