<section class="sect-certif">
    <div class="container certif certif-course-container">
        <div class="certif-box">
            <h3>Createx Certificate</h3>
            <h2>Your expertise will be confirmed</h2>
            <h6>We are accredited by international professional organizations and institutes:</h6>
            <div class="certif-logo">
                <img src="assets/img/delmar.png" alt="">
                <img src="assets/img/sentinal.png" alt="">
                <img src="assets/img/natin.png" alt="">
            </div>
    
        </div>
        <img class="jacob certif-corse-jacob" src="assets/img/certif-image.png" alt="jacob">
    </div>
    </section>