<section class="kontakt">
    <div class="container contactes">
        <div class="contact-box">
            <h3>Contact info</h3>
            <h2>Get in touch</h2>
            <div class="contact-mini">
                <img src="assets/img/Chat-contact.svg" alt="">
                <div class="contact-pod">
                    <h6>Talk to us:</h6>
                    <h5>hello@createx.com</h5>  
                </div>
            </div>
            <div class="contact-mini">
                <img src="assets/img/Iphone-contact.svg" alt="">
                <div class="contact-pod">
                    <h6>Call us:</h6>
                    <h5>(405) 555-0128</h5>  
                </div>
            </div>
            <div class="contact-mini cont-botm">
                <img src="assets/img/outline-contact.svg" alt="">
                <div class="contact-pod">
                    <h6>Address:</h6>
                    <h5>2464 Royal Ln. Mesa, New Jersey 45463, USA</h5>  
                </div>
            </div>
            <h3>Follow us:</h3>
            <div class="cont-follow">
                <img src="assets/img/Facebook-cont.svg" alt="">
                <img src="assets/img/Twitter-cont.svg" alt="">
                <img src="assets/img/YouTube.svg" alt="">
                <img src="assets/img/telegram.svg" alt="">
                <img src="assets/img/Instagram.svg" alt="">
                <img src="assets/img/Linked-In-cont.svg" alt="">
            </div>
        </div>
        <img class="map-con" src="assets/img/map-scr.png" alt="">
    </div>
    
    
    <div class="container contact-questions">
        <img src="assets/img/illustration-contact.svg" alt="">
        <div class="contact-form">
            <h3>Any questions?</h3>
            <h2>Drop us a line</h2>
            <div class="form-row-cont">
                <div class="form-column">
                    <div class="input-box-cont">
                        <label for="firstname">First Name*</label>
                        <input type="text" class="contact-inpfor" placeholder="Your first name" id="firstname">
                    </div>
                    <div class="input-box-cont">
                        <label for="">Email*</label>
                        <input type="email" placeholder="Your working email" id="">
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box-cont">
                        <label for="firstname">Last  Name*</label>
                        <input type="text" class="contact-inpfor" placeholder="Your last name" id="firstname">
                    </div>
                    <div class="input-box-cont">
                        <label for="phon">Phone</label>
                        <input type="tel" placeholder="Your phone number" id="phon">
                    </div>
                </div> 
            </div>
            <div class="input-box-cont con-mesng">
                <label for="messag">Message*</label>
                <textarea class="inp-message" placeholder="Your message" id=""></textarea>
            </div>
            <div class="contact-chek-messag">
                <div class="contact-chek-commincation">
                    <input type="checkbox" class="chek-commun">
                    <label for="">I agree to receive communications from Createx Online School</label>
                </div>
                <button class="btn btn-orange btn-communicate">Send message</button>
            </div>
        </div>
    </div>
</section>
