<section class="events">
    <div class="container event">
        <div class="title-cont eve">
            <div class="title-cont-2">
                <h3>Our Events</h3>
                <h2>Lectures & workshops</h2>
            </div>
        </div>

        <div class="event-box">
            <div class="event-sect">
                <div class="event-lit">
                    <span>05</span>
                    <div class="event-min">
                        <h5>August</h5>
                        <h6>11:00 – 14:00</h6>
                    </div>
                </div>   
                <div class="event-lut">
                    <h5>Formation of the organizational structure of the company in the face of uncertainty.</h5>
                    <h6>Onine master-class</h6>
                </div>
                <button type="button" class="btn btn-about abit-3">View more</button>
            </div>

            <div class="event-sect">
                <div class="event-lit">
                    <span>24</span>
                    <div class="event-min">
                        <h5>July</h5>
                        <h6>11:00 – 12:30</h6>
                    </div>
                </div> 
                <div class="event-lut">
                    <h5>Building a customer service department. Best Practices.</h5>
                    <h6>Onine lecture</h6>
                </div>
                <button type="button" class="btn btn-about abit-3">View more</button>
            </div>

            <div class="event-sect">
                <div class="event-lit">
                    <span>16</span>
                    <div class="event-min">
                        <h5>July</h5>
                        <h6>10:00 – 13:00</h6>
                    </div>
                </div>
                <div class="event-lut">
                    <h5>How to apply methods of speculative design in practice. Worldbuilding prototyping.</h5>
                    <h6>Onine workshop</h6>
                </div>
                <button type="button" class="btn btn-about abit-3">View more</button>
            </div>
        </div>
        <div class="event-more">
            <h3>Do you want more?</h3>
            <button type="button" class="btn btn-orange">Explore all events</button>
        </div>
    </div>
</section>