<div class="container events-selekt">
    <div class="title-cont eve">
        <div class="title-cont-2">
            <h3>Our events</h3>
            <h2>Lectures, workshops & master-classes</h2>
        </div>
    </div>
    <div class="events-selk-box">
        <div class="events-grup">
            <label for="sel1">Event category</label>
            <select class="form-select events-grop-form" aria-label="Default select example">
                <option value="1">all themes</option>
                <option value="2">all themes</option>
                <option value="3">all themes</option>
              </select>
        </div>
        <div class="events-grup">
            <label for="sel1">Sort by</label>
            <select class="form-select events-grop-form" aria-label="Default select example">
                <option value="1">newest</option>
                <option value="2">newest</option>
                <option value="3">newest</option>
              </select>
        </div>
        <div class="events-grup s-select">
            <label for="sel1">Show</label>
            <select class="form-select events-grop-form show-event-selek" id="show-event-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9" selected>9</option>
            </select>
            <h5 class="show-slow-even">events per page</h5>
        </div>
        <div class="search-form event-serch-for">
            <input class="search-form__text" type="text" placeholder="Search event...">
            <button class="search-form__btn"><img class="search-form__image" src="assets/img/search.svg" alt=""></button>
        </div>  
        <div class="icon-girdlist">
            <div class="list active-border">
                <span id="list-id" class="list-span"></span>
                <span id="list-id" class="list-span"></span>
            </div>
            <div class="grid">
                <span class="list-grid"></span>
                <span class="list-grid"></span>
                <span class="list-grid"></span>
                <span class="list-grid"></span>
            </div>
        </div> 
    </div>
    
    <div class="event-box ltg list">
        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>05</span>
                <div class="event-min">
                    <h5>August</h5>
                    <h6>11:00 – 14:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>Formation of the organizational structure of the company in the face of uncertainty.</h5>
                <h6>Onine master-class</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>24</span>
                <div class="event-min">
                    <h5>July</h5>
                    <h6>11:00 – 12:30</h6>
                </div>
            </div> 
            <div class="event-lut">
                <h5>Building a customer service department. Best Practices.</h5>
                <h6>Onine lecture</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>16</span>
                <div class="event-min">
                    <h5>July</h5>
                    <h6>10:00 – 13:00</h6>
                </div>
            </div>
            <div class="event-lut">
                <h5>How to apply methods of speculative design in practice. Worldbuilding prototyping.</h5>
                <h6>Onine workshop</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>10</span>
                <div class="event-min">
                    <h5>July </h5>
                    <h6>9:00 – 14:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>Find and evaluate: search and assessment tools for candidates.</h5>
                <h6>Onine workshop</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>27</span>
                <div class="event-min">
                    <h5>June </h5>
                    <h6>15:00 – 19:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>Connection to Microsoft Excel and Google Sheets, Data Visualization in Power BI.</h5>
                <h6>Onine master-class</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>15</span>
                <div class="event-min">
                    <h5>June </h5>
                    <h6>10:00 – 12:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>Find and evaluate: search and assessment tools for candidates.</h5>
                <h6>Onine workshop</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>02</span>
                <div class="event-min">
                    <h5>June </h5>
                    <h6>11:00 – 13:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>How to brief a client and present your design to approve it from the first show.</h5>
                <h6>Onine lecture</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>29</span>
                <div class="event-min">
                    <h5>May </h5>
                    <h6>11:00 – 12:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>Who is a project manager and do I want to be PM?</h5>
                <h6>Onine lecture</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>

        <div class="event-sect events-grop-sect-2">
            <div class="event-lit">
                <span>18</span>
                <div class="event-min">
                    <h5>May </h5>
                    <h6>10:00 – 12:00</h6>
                </div>
            </div>   
            <div class="event-lut">
                <h5>The company's business page as an additional tool to support the announcement of vacancies.</h5>
                <h6>Onine lecture</h6>
            </div>
            <button type="button" class="btn btn-about abit-3">View more</button>
        </div>
    </div>
    <ul class="events-grup-pereklyk">
        <li id="myButton" class="perkly-lish"><a href="">1</a></li>
        <li id="myButton" class="perkly-lish"><a href="">2</a></li>
        <li id="myButton" class="perkly-lish"><a href="">3</a></li>
        <li id="myButton" class="perkly-lish"><a href="">4</a></li>
        <img class="perkly-lish" src="assets/img/Right.svg" alt="">
    </ul>
</div>