<section class="first-section">
        <div class="container-first">
            <div class="first-box">
                <div class="first-images">
                    <img src="assets/img/image.png" alt="">
                </div>
        
                <div class="first-kub">
                    <h3>Who we are</h3>
                    <h2>Why Createx?</h2>
                    <ul class="first-li">
                        <li class="first-item">A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
                        <li class="first-item">Vulputate placerat amet pulvinar lorem nisl.</li>
                        <li class="first-item">Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.</li>
                        <li class="first-item">Etiam duis lobortis in fames ultrices commodo nibh.</li>
                        <li class="first-item">Tincidunt sagittis neque sem ac eget.</li>
                        <li class="first-item">Ultricies amet justo et eget quisque purus vulputate dapibus tortor.</li>
                    </ul>
                    <a href="about-item.html" class="btn btn-orange first-oran">More about us</a>
                </div>
            </div>     
        </div>
</section>