<footer class="footer">
    <div class="container">
        <div class="address-column">
            <address>
				<img src="assets/img/logo-fot.png" class="imfot" alt="logo" />
                <p>Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country. </p>
            </address>
            <nav class="footer-social">
                <a href="#" class="social-icon">
					<img src="assets/img/Facebook-futer.png" alt="Facebook">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/Twitter-futer.png" alt="Twitter">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/YouTube-futer.png" alt="Youtube">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/telegram-futer.png" alt="telegram">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/Instagram-futer.png" alt="Instagram">
				</a>
                <a href="#" class="social-icon">
					<img src="assets/img/Linked-In-futer.png" alt="Linkdin">
				</a>

            </nav>
        </div>
        <div class="menu-wrapper">
            <div class="footer-column">
                <h5 class="footer-title">SITE MAP</h5>
                <nav class="footer-menu">
                    <a href="#">About Us</a>
                    <a href="#">Courses</a>
                    <a href="#">Events</a>
					<a href="#">Blog</a>
					<a href="#">Contacts</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">COURSES</h5>
                <nav class="footer-menu">
                    <a href="#">Marketing</a>
                    <a href="#">Management</a>
                    <a href="#">HR & Recruting</a>
					<a href="#">Design</a>
					<a href="#">Development</a>
                </nav>
            </div>
            <div class="footer-column">
                <h5 class="footer-title">CONTACT US</h5>
                <nav class="footer-menu">
                    <a href="#"><img class="img-contact" src="assets/img/iPhone.svg" alt="">(405) 555-0128</a>
                    <a href="#"><img class="img-contact" src="assets/img/Mail.svg" alt="">hello@createx.com</a>
                </nav>
            </div>
        </div>
        <div class="footer-group">
            <label for="exampleInputEmail1">SIGN UP TO OUR NEWSLETTER</label>
            <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter address">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-fot">
                  <img src="assets/img/footer-right.svg" alt="">
                </button>
            <small> <id="emailHelp" class="footer-text">*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</small>
          </div>
    </div>
    <div class="futer-down">
        <div class="container footer-nis">
            <h6>© All rights reserved. Made with <img src="assets/img/heart.svg" alt="">by Createx Studio</h6>
            <a href="">GO TO TOP</a>
        </div>
    </div>
    
	
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>