<header class="hed">
    <div class="container hed-2">
		<img src="assets/img/logo.png" class="img-fluid" alt="logo" />
		
        <div class="mobile-container">
            <nav>
                <a href="#">About Us</a>
                <a href="courses-item.html">Courses</a>
                <a href="#">Events</a>
                <a href="#">Blog</a>
                <a href="#">Contacts</a>
            </nav>
            <button type="button" class="btn btn-orange">Get consultation</button>
            <button type="button" class="btn btn-reg">Log in / Register</button>
        </div>
    </div>
</header>
    
