<header>
    <div class="container">
		<img src="assets/img/logo.png" class="img-fluid" alt="logo" />
		
        <div class="mobile-container">
            <nav>
                <a href="#">About Us</a>
                <a href="#">Courses</a>
                <a href="#">Events</a>
                <a href="#">Blog</a>
                <a href="#">Contacts</a>
            </nav>
            <button type="button" class="btn btn-orange">Get consultation</button>
            <button type="button" class="btn btn-reg">Log in / Register</button>
        </div>
    </div>
    
    <div class="playes"> 
        <div class="cont-play">
            <div class="cont-enjoy">
                <div class="play-video">
                    <h6 class="yutub">Play showreel</h6>
                </div>
                <h1>Enjoy studying with Createx Online Courses</h1>
                <button type="button" class="btn btn-about abit">About us</button>
                <button type="button" class="btn btn-orange">Explore courses</button>
                
            </div>
            <div class="decor">
                <img src="assets/img/illustration.png" alt="play">
            </div>
        </div>
        <div class="play-down">
            <h5 class="com"><span>1200</span> Students graduated</h5>
            <h5 class="com-1"><span>84</span>Completed courses</h5>
            <h5 class="com-2"><span>16</span>Qualified tutors</h5>
            <h5><span>5</span>Years of experience</h5>
        </div>
    </div>
</header>
