<section class="subs">
    <img class="ilustrat-subs" src="assets/img/illustration.svg" alt="">
    <img class="ilustrat-subs ilu-2" src="assets/img/illustration.svg" alt="">
    <div class="container subscrib">
        <div class="subes-nat">
            <h3>Don’t miss anything</h3>
            <h2>Subscribe to the Createx School announcements</h2>
         </div>
        <div class="subes-group">
            <input type="email" class="email-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your working email">
            <button type="button" class="btn btn-subs">Subscribe</button>
        </div>
    </div>
</section>