<section class="select-team">
    <div class="container team cours-contiem">
    <div class="container montias">
        <div class="title-cont eve">
            <div class="title-cont-2">
                <h3>TESTIMONIALS</h3>
                <h2>What our students say</h2>
            </div>
        </div>
        <div class="slider-container">
            <div class="swiper montias-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-montias">
                            <div class="montias-box">
                                <img class="braces" src="assets/img/braces.png" alt="">
                                <div class="monti-mini">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.</p>
                                    <div class="mont">
                                        <img src="assets/img/user-moni.png" alt="">
                                        <div class="monias-pid">
                                            <h5>Eleanor Pena</h5>
                                            <h6>Position, Course</h6>
                                        </div>
                                    </div>
                                </div>                                
                            </div>  
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-montias">
                            <div class="montias-box">
                                <img class="braces" src="assets/img/braces.png" alt="">
                                <div class="monti-mini">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.</p>
                                    <div class="mont">
                                        <img src="assets/img/user-moni.png" alt="">
                                        <div class="monias-pid">
                                            <h5>Eleanor Pena</h5>
                                            <h6>Position, Course</h6>
                                        </div>
                                    </div>
                                </div>                                
                            </div>  
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-montias">
                            <div class="montias-box">
                                <img class="braces" src="assets/img/braces.png" alt="">
                                <div class="monti-mini">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.</p>
                                    <div class="mont">
                                        <img src="assets/img/user-moni.png" alt="">
                                        <div class="monias-pid">
                                            <h5>Eleanor Pena</h5>
                                            <h6>Position, Course</h6>
                                        </div>
                                    </div>
                                </div>                                
                            </div>  
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-montias">
                            <div class="montias-box">
                                <img class="braces" src="assets/img/braces.png" alt="">
                                <div class="monti-mini">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.</p>
                                    <div class="mont">
                                        <img src="assets/img/user-moni.png" alt="">
                                        <div class="monias-pid">
                                            <h5>Eleanor Pena</h5>
                                            <h6>Position, Course</h6>
                                        </div>
                                    </div>
                                </div>                                
                            </div>  
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card-montias">
                            <div class="montias-box">
                                <img class="braces" src="assets/img/braces.png" alt="">
                                <div class="monti-mini">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.</p>
                                    <div class="mont">
                                        <img src="assets/img/user-moni.png" alt="">
                                        <div class="monias-pid">
                                            <h5>Eleanor Pena</h5>
                                            <h6>Position, Course</h6>
                                        </div>
                                    </div>
                                </div>                                
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev_mones"></div>
            <div class="swiper-button-next_mones"></div>
        </div>

    </div>
</section>