<div class="container title">
    <div class="title-cont">
        <div class="title-cont-2">
            <h3>Our benefits</h3>
            <h2>That’s how we do it</h2>
        </div>    
    </div>

    <fieldset class="title-fild">
        <div class="control-row control-large">
            <label class="control-box nast">
                <input id="tutors" class="custom-input" checked type="radio" name="document" value="tutors">
                <label for="tutors">Experienced Tutors</label>
            </label>
            <label class="control-box">
                <input id="support" class="custom-input" checked type="radio" name="document" value="support">
                <label for="support">Feedback & Support</label>
                </label>
            <label class="control-box">
                <input id="library" class="custom-input" checked type="radio" name="document" value="library">
                <label for="library">24/7 Online Library</label>
            </label>
            <label class="control-box">
                <input id="community" class="custom-input" checked type="radio" name="document" value="community">
                <label for="community">Community</label>
            </label>
        </div>        
    </fieldset>

    <div class="title-box">
        <div class="title-slow">
            <h3>Only practicing tutors</h3>
            <p>Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.</p>
        </div>
        <img src="assets/img/ilus.png" alt="">

    </div>
    

</div>